
        body {
            background-color: rgba(0, 0, 0, 0.85);
            margin: 0;
            padding: 0;
        }


     
  .navbar a {
            color: #fff; 
        }

        nav {
            background-color: rgba(0, 0, 0, 0.4); 
            color: #fff; 

        }


        .container-center {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }


        .container-with-shadow {
            background-color: rgba(0, 0, 0, 0.4); /* Slightly darker than the background */
            color: #fff;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Adjust the shadow properties as needed */
            padding: 20px; /* Adjust the padding as needed */
            border-radius: 10px; /* Adjust the border radius as needed */
            width: 400px; /* Adjust the width as needed */
            /*height: 600px;*/ /* Adjust the height as needed */
            margin-bottom: 10px;
        }

        .short-input {
            width: 80%;
        }

        .form-group {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 20px;
            padding-bottom: 10px;
        }


        .custom-register-btn.btn-primary {
            background-color: rgba(0, 0, 0, 0.85);
            color: #fff;
            border: none;
            transition: background-color 0.3s ease-in-out;
            /*width:60%;*/
        }


            .custom-register-btn.btn-primary:hover {
                background-color: rgba(0, 0, 0, 0.2);
            }

        .form-control {
            background-color: rgba(0, 0, 0, 0.3);
            color: #fff;
            border: none;
        }

        .header-container {
            display: flex;
            align-items: center;
            margin-left: 35px;
            margin-bottom: 20px;
        }

            .header-container h3 {
                margin: 0;
            }

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 43%;
}

.container-fluid {
    background-color: rgba(0, 0, 0, 0.6);
}


#navbar-reset {
    margin: 0;
    padding: 0;
    margin-top: -20px;
    /*border-top: 40px solid rgb(90 90 90)*/
}

nav {
    background: linear-gradient(to bottom, grey, black);
    color: rgb(128, 128, 128);
    padding: 0;
    margin: 20px;
    padding: 30px;
}



.btn-primary {
    color: rgb(226, 226, 226);
    background-color: rgba(0, 0, 0, 0.8);
    margin-bottom: 10px;
    border: none;
}

.btn-primary:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.nav-link {
   color: black;
}
a:hover {
transform: scale(1.1);
}

#space-filler {
    background: linear-gradient(to bottom, rgb(0, 0, 0),rgb(226, 226, 226));
    height: 20px;
    margin-top: -30px;
}


h1, h2, h3, h4, p {
    color: whitesmoke;
}
.search-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;

}

.search-result {
    width: 70%;
    margin: 10px;
    display: flex;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.4));
    padding: 10px;
    /*align-items: flex-start;*/
}

.search-result a {
    color: white;
}
.search-container img {
    width: 150px;
    height: 250px;
    opacity: 0.8;
}

.top-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 27px 10px;
    margin: 10px;
}
.search-card {
    width: 100%;
    display: flex;
    margin-left: 5rem;
    flex-direction: column;
}
.watchlist-button {
    width: 18rem;
    border: double 1px rgba(226, 226, 226, 0.2);
}

    .watchlist-button:hover, .watchlist-button:active{
        background-color: rgba(0, 0, 0, 0.2);
        border: double 1px rgba(226, 226, 226, 0.2);
    }
.bottom-right {
    display: flex;
    flex-direction: row-reverse;
    align-content: end;
    margin-top: 20px;
}

