

body {
    background-color: rgba(0, 0, 0, 0.85);
    margin: 0;
    padding: 0;
    /*height: 100vh;*/
}

h1, h2, h3, h4, p {
    color: whitesmoke;
}

.navbar a {
    color: #fff;
}

nav {
    background-color: rgba(0, 0, 0, 0.4);
    color: #fff;
}


.container-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.container-with-shadow {
    background-color: rgba(0, 0, 0, 0.4); /* Slightly darker than the background */
    color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Adjust the shadow properties as needed */
    padding: 20px; /* Adjust the padding as needed */
    border-radius: 10px; /* Adjust the border radius as needed */
    width: 400px; /* Adjust the width as needed */
    /*height: 600px;*/ /* Adjust the height as needed */
    margin-bottom: 10px;
}

.short-input {
    width: 80%;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    /*padding-bottom: 10px;*/
}


/*.custom-register-btn .btn-primary {
            background-color: rgba(0, 0, 0, 0.85);
            color: #fff;
            border: none;
            transition: background-color 0.3s ease-in-out;*/
/*width:60%;*/
/*}*/


.custom-register-btn.btn-primary:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.form-control {
    background-color: #727272;
    color: rgb(0, 0, 0);
    /*font-weight: 600;*/
    /*color: #727272;*/
    border: none;
}
    .form-control::placeholder {
        color: whitesmoke;
        opacity: 1; /* Optional: Firefox lowers the opacity by default */
    }
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: whitesmoke;
    /*opacity: 1;*/ /* Firefox */
}

.header-container {
    display: flex;
    align-items: center;
    margin-left: 35px;
    margin-bottom: 20px;
}

    .header-container h3 {
        margin: 0;
    }

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 43%;
}

.container-fluid {
    background-color: rgba(0, 0, 0, 0.6);
}


#navbar-reset {
    margin: 0;
    padding: 0;
    margin-top: -20px;
    /*border-top: 40px solid rgb(90 90 90)*/
}

nav {
    background: linear-gradient(to bottom, grey, black);
    color: rgb(128, 128, 128);
    padding: 0;
    margin: 20px;
    padding: 30px;
}



.btn-primary {
    color: rgb(226, 226, 226);
    background-color: darkslategrey;
    margin-bottom: 0px;
    border: none;
}

    .btn-primary:hover, .btn-primary:active, .btn-primary:visited,  {
        background-color: rgba(0, 0, 0, 0.2);
    }

.nav-link {
    color: black;
}

/*a:hover {
transform: scale(1.1);
}
*/
#space-filler {
    background: linear-gradient(to bottom, rgb(0, 0, 0),rgb(226, 226, 226));
    height: 20px;
    margin-top: -30px;
}



.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    margin-top: 10px;
}

.search-heading {
    align-self: flex-start;
}

.search-result {
    width: 70%;
    margin: 10px;
    display: flex;
    justify-content: center;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.4));
    /*padding: 10px;*/
    /*align-items: flex-start;*/
}

.search-resultwatchlist {
    width: 70%;
    margin: 0.1rem;
    display: flex;
    justify-content: center;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.4));
    /*padding: 10px;*/
    /*align-items: flex-start;*/
}

.filter-arrow {
    height: 100px;
    width: 100px;
    margin-right: 1rem;
}


.search-result a {
    color: white;
}

.search-container img {
    width: 100px;
    height: 170px;
    opacity: 0.8;
    margin-left: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.top-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /*gap: 27px 10px;*/
    margin: 1rem;
}


.search-card {
    width: 100%;
    display: flex;
    margin-left: 5rem;
    flex-direction: column;
}

.watchlist-button {
    width: 15rem;
    border: double 1px rgba(226, 226, 226, 0.2);
    margin-right: 1rem;
    margin-bottom: 1rem;
}

    .watchlist-button:hover, .watchlist-button:active {
        background-color: rgb(71, 120, 120);
        border: double 1px rgba(226, 226, 226, 0.2);
    }

.bottom-right {
    display: flex;
    flex-direction: row-reverse;
    align-content: end;
    margin-top: 20px;
}

h1, h2, h3, h4, h5, p, td {
    color: antiquewhite;
}

a {
    color: antiquewhite;
}

.form-container {
    width: clamp(30vw, 60%, 30vw);
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

/*adjusted to try layout*/
.form-buddylist { 
    display: flex;
    flex-direction: column;
    justify-content: center;
}

    .form-buddylist button {
        margin-top: 5px;
        border-radius: 10%;
    }

    .form-buddylist input {
        margin-top: 5px;
        border-radius: 5px;
        width: 60%;
    }

button:hover, button:active, button:focus,
.btn:hover, .btn:active, btn:focus, .btn:after, .btn-primary:hover, .btn-primary:active, .btn-primary::after, .btn-primary:focus {
    border: 1px solid rgb(226, 226, 226);
    background-color: rgb(5, 91, 22, 0,36);
    color: rgb(5, 91, 22, 0,36);
}


/*.next, .prev {
    color: #444;
    position: absolute;
    top: 100px;
    padding: 1em 2em;
    cursor: pointer;
    background: #CCC;
    border-radius: 5px;
    border-top: 1px solid #FFF;
    box-shadow: 0 5px 0 #999;
    transition: box-shadow 0.6s, top 0.6s;
}
*/


/*LogoHeader*/

.logo-img {
    width: 70px;
    height: 70px;
    margin-right: 300px;
}


    .logo-img:hover {
        opacity: 0.8;
    }
/*.logo-img:hover {
    transform: scale(1.2); 
}*/
/*Layout Buttons*/

.text-left {
    text-align: left;
}

.colored-button {
    background-color: #047159;
    padding: 10px 20px;
    margin: 7px;
    border-radius: 10px;
}

    .colored-button:hover {
        background-color: #629074;
    }

.colored-buttonlogin {
    background-color: #047159;
    padding: 10px 20px;
    margin: 20px;
    border-radius: 10px;
}

.colored-buttonlogin:hover {
     background-color: #629074;
}

.colored-buttonlogin {
    background-color: #047159;
    padding: 10px 20px;
    margin: 20px;
    border-radius: 10px;
}

.colored-buttonlogin:hover {
     background-color: #629074;
}

    .details-container {
width: 90vw;
min-height: 100vh;
display: flex;
flex-direction: row;
margin: 2rem;
/*margin-right: 50px;*/
/*margin: 0 auto;*/

}

.img-container-details {
    position: relative;
    width: 100%;
    display: flex;
   
    /*flex-direction: column;*/
}

.details-text {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    z-index: 11;
    margin: 2rem;
    width: 50%;
    border-top: 1px solid black;
    /*filter: drop-shadow(0 0 0.1rem black);*/
}

.detail-link {
    /*margin-top: -100px;*/
    font-size: 1.2rem;
    color: white;
    text-decoration: none;
}


.details-text button {
    /*top: 50%;*/
    /*    top: 25%;
        left: 2%;*/
    /*margin: 5rem;*/
    margin-top: 1rem;
    /*opacity: 0.9;*/
    display: flex;
    justify-content: center;
    justify-self: flex-end;
    /*background-color: darkslategrey;*/
    background-color: #078f71b1;
    /*background-color: rgb(47, 79, 79);*/
    filter: drop-shadow(0 0 0.05rem black);
    /**/
}



.details-poster {
    margin: 2rem;
    /*margin-bottom: 1rem;*/
    width: 20vw;
    height: 70vh;
    left: 5%;
    /* top: 5%*/;
    position: relative;
    z-index: 10;
    filter: drop-shadow(0 0 1rem black);
    /*border-radius: 5%;*/
    /*border-radius: 85% 85% 0 85% ;*/
}

.backdrop-poster {
    position: absolute;
    opacity: 0.7;
    z-index: 0;
    filter: saturate(25%);
    filter: hue-rotate(20deg);
    width: 94vw;
    height: 80vh;
    /*object-fit: cover;*/
    /*background-position: right 50%;*/
    /*height: auto;*/
    /*overflow: hidden;*/
    /*margin-left: -10rem;*/
    /*margin-bottom: -2rem;*/
    border-radius: 5%;
    /*filter: blur(0.05rem);*/
    /*    background-size: cover;
    object-fit: cover;*/
}

.details-text {
    /*border: 1px solid white;*/
    /*background-color: rgba(57, 56, 56, 0.20);*/
    backdrop-filter: blur(1px);
    /*width: 50%;*/
    /*margin-top: 5%;*/
    margin-left: 5%;
    line-height: 1.5rem;
}

.overlay {
    position: absolute;
    width: 94vw;
    height: 80vh;
    /*margin-left: -10rem;*/
    /*background-color: rgba(0, 0, 0, 0.5);*/
    background-image: linear-gradient(to left, rgba(226, 226, 226, 0.6), rgba(0, 0, 0, 0.9));
    z-index: 2;
}


.toggle-description:hover {
    text-decoration: none;
}



.test-button {
    background-color: #045846;
}

.nav-span {
    background-color: #047159b1;
    border: 2px double #047159b1;
    border-radius: 5px;
    padding: 10px 20px;
    /* margin: 7px;*/
}

.test-button:hover {
    background-color: #047159b1;
    border-radius: 10px;
}

/*
.colored-button {
    background-color: #047159;
    padding: 10px 20px;
    margin: 7px;
    border-radius: 10px;
}*/


/*-----filter bar------*/

.search-bar {
    background: rgb(38, 38, 38);
    /*width: 90%;*/
    max-width: 500px;
    display: flex;
    padding: 2px;
    border-radius: 4px;
    
}

#select {
    background: rgb(38, 38, 38);
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff; 
    min-width: 342px;
    padding: 25px 20px;
    cursor: pointer;
    position: relative;
    /*border-radius: 4px;
		border: 1px solid;*/
    z-index: 1;
}

    #select img {
        width: 15px;
    }

    #select ul {
        position: absolute;
        top: 120%;
        left: 0;
        list-style: none;
        background-color: rgb(27, 27, 27);
        color: antiquewhite;
        width: 60%;
        /*opacity: 65%;*/
        /*border-radius: 4px;*/
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.5s;
        /*z-index: 30;*/
        filter: drop-shadow(0 0 0.5rem black);
    }

        #select ul li {
            padding: 10px 20px;
            cursor: pointer;
            /*color: antiquewhite;*/ 
        }

.search-bar input {
    padding: 10px 25px;
    width: 100%;
    border: none;
    outline: none;
    font-size: 18px;
}

.search-bar-container {
    margin: 0 auto;
    width: 74%;
}
.search-bar-title{
color: antiquewhite;
/*width: 10vw;*/
margin-left: 8rem;
margin-top: 2rem;
/*margin-bottom*/

    /*margin: 0 auto;*/
    /*margin-left: 3rem;*/
    /*font-weight: 400;*/
    /*filter: drop-shadow(0 0 0.5rem white);*/
}
#select ul.open {
    max-height: 100vh;
}

/* Buddy Page ---------------------------------------------------*/

.buddy-search-container {
    margin: 0 auto;
    margin-top: 2rem;
    max-width: 60vw;
    max-height: 70vh;
    position: relative;
    overflow-x: hidden;
    overflow: clip;
}

.buddy-carousel {
    display: flex;
    position: relative;
    height: 100%;
    width: 100%;
    
    flex-wrap: nowrap;
}

.buddy-title {
    color: antiquewhite;
    text-align: center;
    margin-top: 2rem;
    /*font-weight: 400;*/
    /*filter: drop-shadow(0 0 0.5rem white);*/
}
.buddy-search-card {
    flex: 1; /* Take up equal space within the container */
    position: relative;
    display: flex;
    /*flex-direction: column;*/
    min-height: 100%;
    margin-left: 5px;
    margin-right: 5px;
    min-width: calc(33.333% - 10px); /* At least a third of parent minus margin */
    transition: transform 1s ease-in-out;
    border-radius: 25px;
}

    .buddy-search-card img {
        width: 100%;
        height: 100%;
        object-fit: scale-down;
        box-sizing:content-box;
    }

.greyscale {
    filter: grayscale(100%);
    opacity: 0.8;
    transform: scale(0.8);
}

.buddy-search-card.active {
    position: relative;
    filter: hue-rotate(10deg);
    filter: saturate(110%);
    transform: scale(1);
    z-index: 1; /* Ensures the larger item appears above all the others */
    /*border: 2px solid black;*/
}

.buddy-search-card.two-active {
    width: 10%;
    height: 80vh;
    object-fit: contain;
}

.poster-title {
    text-align: center;
    height: 50px;
}

.hidden {
    display: none;
}


/*#list li {
    position: relative;
}*/
#genreOption {
    position: relative;
}

#GenreList {
    list-style-type: none;
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 30;
    color: white;
    background-color: rgb(27, 27, 27);
    /*border: 1px solid black;*/
    filter: drop-shadow(0 0 0.1rem black);
    max-height: 300px;  
}

.nested-dropdown li {
    /*border: 1px solid #ccc;*/
    margin-left: -2rem;
    color: antiquewhite;
}

.genre-container {
    display: flex;
    flex-direction: row;
    /*justify-content: space-evenly;*/
    justify-content: flex-start;
    
}

.carousel-caption h3{
    /*border-left: 1px solid black;*/
    /*border-left: 1px solid rgba(0, 0, 0, 0.4);*/
    /*filter: drop-shadow(0 0 6rem black);*/
}
.carousel-caption {
    border-top: 3px solid rgba(0, 0, 0, 0.4);
   
    /*border-bottom: 3px solid rgba(0, 0, 0, 0.4);*/
    /*border-left: 2px solid rgba(0, 0, 0, 0.4);*/
    /*border-right: 0.5px solid rgba(0, 0, 0, 0.4);*/
    border-radius: 20px;
}



.carousel-item img {
    box-shadow: 0 0 5rem black;
}

.top-column a {
    color: antiquewhite;
    font-weight: 600;
}
.top-column a:hover {
    /*transform: scale(1.1);*/
    color: white;
}

.shadow {
/*border: 0.5px solid black;*/
border-left: 5px solid black;
border-bottom: 8px solid black;
/*border-right: 5px solid black;*/
/*filter: drop-shadow(0 0 0.2rem black);*/
}

footer {
    margin-top: 5rem;
    border-top: 1px solid rgba(226, 226, 226, 0.2);
    /*filter: drop-shadow(0 0 1rem black);*/
} 

#matchButton {
    margin-top: 1rem;
    width: 30%;

    border-radius: 10px;
}

    #matchButton:active, #matchButton:visited {
        color: rgb(72, 121, 121);
        background-color: rgb(72, 121, 121);
        border: 1px solid rgb(72, 121, 121);
    }