
        body {
            background-color: rgba(0, 0, 0, 0.85);
            margin: 0;
            padding: 0;
        }

h1, h2, h3, h4, p {
    color: whitesmoke;
}
     
  .navbar a {
            color: #fff; 
        }

        nav {
            background-color: rgba(0, 0, 0, 0.4); 
            color: #fff; 

        }


        .container-center {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }


        .container-with-shadow {
            background-color: rgba(0, 0, 0, 0.4); /* Slightly darker than the background */
            color: #fff;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Adjust the shadow properties as needed */
            padding: 20px; /* Adjust the padding as needed */
            border-radius: 10px; /* Adjust the border radius as needed */
            width: 400px; /* Adjust the width as needed */
            /*height: 600px;*/ /* Adjust the height as needed */
            margin-bottom: 10px;
        }

        .short-input {
            width: 80%;
        }

        .form-group {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 20px;
            padding-bottom: 10px;
        }


        /*.custom-register-btn .btn-primary {
            background-color: rgba(0, 0, 0, 0.85);
            color: #fff;
            border: none;
            transition: background-color 0.3s ease-in-out;*/
            /*width:60%;*/
        /*}*/


            .custom-register-btn.btn-primary:hover {
                background-color: rgba(0, 0, 0, 0.2);
            }

        .form-control {
            background-color: rgba(0, 0, 0, 0.3);
            color: #fff;
            border: none;
        }

        .header-container {
            display: flex;
            align-items: center;
            margin-left: 35px;
            margin-bottom: 20px;
        }

            .header-container h3 {
                margin: 0;
            }

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 43%;
}

.container-fluid {
    background-color: rgba(0, 0, 0, 0.6);
}


#navbar-reset {
    margin: 0;
    padding: 0;
    margin-top: -20px;
    /*border-top: 40px solid rgb(90 90 90)*/
}

nav {
    background: linear-gradient(to bottom, grey, black);
    color: rgb(128, 128, 128);
    padding: 0;
    margin: 20px;
    padding: 30px;
}



.btn-primary {
    color: rgb(226, 226, 226);
    background-color: darkslategrey;
    margin-bottom: 10px;
    border: none;
}

.btn-primary:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.nav-link {
   color: black;
}
a:hover {
transform: scale(1.1);
}

#space-filler {
    background: linear-gradient(to bottom, rgb(0, 0, 0),rgb(226, 226, 226));
    height: 20px;
    margin-top: -30px;
}



.search-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;

}

.search-result {
    width: 70%;
    margin: 10px;
    display: flex;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.4));
    padding: 10px;
    /*align-items: flex-start;*/
}

.search-result a {
    color: white;
}
.search-container img {
    width: 150px;
    height: 250px;
    opacity: 0.8;
}

.top-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 27px 10px;
    margin: 10px;
}
.search-card {
    width: 100%;
    display: flex;
    margin-left: 5rem;
    flex-direction: column;
}
.watchlist-button {
    width: 18rem;
    border: double 1px rgba(226, 226, 226, 0.2);
}

    .watchlist-button:hover, .watchlist-button:active{
        background-color: rgba(0, 0, 0, 0.2);
        border: double 1px rgba(226, 226, 226, 0.2);
    }
.bottom-right {
    display: flex;
    flex-direction: row-reverse;
    align-content: end;
    margin-top: 20px;
}

h1, h2, h3, h4, h5, p, td {
    color: antiquewhite;
}

a {
    color: antiquewhite;
}

.form-container {
    width: clamp(300px, 60%, 600px); 
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;

    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}


.form-buddylist{
    display: flex;
    flex-direction: row;
}
.form-buddylist button {
    margin-top: 5px;
   border-radius: 10%;
}

.form-buddylist input {
    margin-top: 5px;
    border-radius: 5px;
    width: 60%;
}

button:hover, button:active, button:focus,
.btn:hover, .btn:active, btn:focus, .btn:after, .btn-primary:hover, .btn-primary:active, .btn-primary::after, .btn-primary:focus {
    border: 1px solid rgb(226, 226, 226);
    background-color: rgb(5, 91, 22, 0,36);
    color: rgb(5, 91, 22, 0,36);
}



.buddy-search-container {
 
    margin: 0 auto;
    width: 500px;
    height: 800px;
    position: relative;
    perspective: 2000px;
}

.buddy-carousel {
    height: 100%;
    width: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: transform 1s;
}
.buddy-search-card {
    filter: drop-shadow(0 0 2rem white);
    display: block;
    position: absolute;
    background: #000;
    width: 250px;
    height: 300px;
    line-height: 200px;
    font-size: 5em;
    text-align: center;
    color: #FFF;
    opacity: 0.95;
    border-radius: 10px;
    margin: 30px;
}


.buddy-search-card img {
    width: clamp(60px, 100%, 300px);
}

/*.next, .prev {
    color: #444;
    position: absolute;
    top: 100px;
    padding: 1em 2em;
    cursor: pointer;
    background: #CCC;
    border-radius: 5px;
    border-top: 1px solid #FFF;
    box-shadow: 0 5px 0 #999;
    transition: box-shadow 0.6s, top 0.6s;
}
*/
    .next:hover, .prev:hover {
        color: #000;
    }

    .next:active, .prev:active {
        top: 104px;
        box-shadow: 0 1px 0 #999;
    }

.next {
    right: 5em;
}

.prev {
    left: 5em;
}

.detail-link {
    margin-top: -100px;
    font-size: 1.2rem;
}


/*Details Page*/

.details-container {
width: 80%;
height: auto;
display: flex;
flex-direction: row;

}

.img-container-details {
  position: relative;
  width: 100%;
  display: flex;
  /*flex-direction: column;*/
}

.details-text {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    z-index: 11;
    margin: 2rem;
    

}

.details-text  {
    /*border: 1px solid white;*/
    /*background-color: rgba(57, 56, 56, 0.20);*/
    /*backdrop-filter : blur(5px);*/
}
    .details-text button {
        position: relative;
        top: 25%;
        left: 2%;
        background-color: darkslategrey;
        /*background-color: rgb(48, 140, 143);*/
        background-color: rgb(74, 108, 87);
/**/
    }


.details-poster {
    margin-top: 2rem;
    margin-bottom: 1rem;
    width: 300px;
    height: 450px;
    margin-left: -5rem;
    position: relative;
    z-index: 10;
    filter: drop-shadow(0 0 0.75rem black); 
}

.backdrop-poster {
    position: absolute;
    opacity: 0.7;
    z-index: 0;
    filter: saturate(25%);
    filter: hue-rotate(20deg);
    width: 94vw;
    object-fit: cover;
    background-position: right 50%;
    /*height: auto;*/
    /*overflow: hidden;*/
    margin-left: -10rem;
    margin-bottom: -2rem;
    /*filter: blur(0.05rem);*/
/*    background-size: cover;
    object-fit: cover;*/


}

.overlay {
  position: absolute;
width: 94vw;

height: 85.1vh;
margin-left: -10rem;
/*background-color: rgba(0, 0, 0, 0.5);*/
background-image: linear-gradient(to left, rgba(226, 226, 226, 0.6), rgba(0, 0, 0, 0.9));
z-index: 2;
}



