@{
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
    ViewBag.Title = "Login";
}
@model RegisterVM
<style>

    body {
        background-color: rgba(0, 0, 0, 0.85); /* Semi-black background */
        margin: 0; /* Remove default margin to prevent white space around the body */
        padding: 0; /* Remove default padding */
    }

    /* Center the container vertically and horizontally */
    .container-center {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    /* Style for the container with drop shadow */
    .container-with-shadow {
        background-color: rgba(0, 0, 0, 0.4); /* Slightly darker than the background */
        color: #fff;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Adjust the shadow properties as needed */
        padding: 20px; /* Adjust the padding as needed */
        border-radius: 10px; /* Adjust the border radius as needed */
        width: 400px; /* Adjust the width as needed */
        /*height: 600px;*/ /* Adjust the height as needed */
        margin-bottom: 10px;
    }

    .short-input {
        width: 80%;
    }

    .form-group {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
        padding-bottom: 10px;
    }

    /* Style for the Register button */
    .custom-register-btn.btn-primary {
        background-color: rgba(0, 0, 0, 0.85); /* Semi-black background color */
        color: #fff;
        border: none;
        transition: background-color 0.3s ease-in-out; /* Add a smooth transition effect */
        /*width:60%;*/
    }

        /* Style for the Register button on hover */
        .custom-register-btn.btn-primary:hover {
            background-color: rgba(0, 0, 0, 0.2); /* Slightly lighter on hover */
        }

    .form-control {
        background-color: rgba(0, 0, 0, 0.3); /* Replace with your desired background color */
        color: #fff; /* Text color */
        border: none; /* Remove the default input border if desired */
    }

    .header-container {
        display: flex;
        align-items: center;
        margin-left: 35px;
        margin-bottom: 20px; /* Adjust the margin as needed */
    }

        .header-container h3 {
            margin: 0; /* Remove the default margin of <h3> */
        }

    .button-container {
        display: flex;
        justify-content: center; /* Center the button horizontally */
        margin-top: 20px;
        width: 38%;
</style>

<main>
    <div class="container-center">
        <div class="container-with-shadow">
            <div class="header-container">
                <h3>Login</h3>
            </div>            
            <form asp-controller="Account" asp-action="Login" class="form">
                <div class="form-group">
                    @*<label asp-for="Username"></label>*@
                    <input asp-for="Username" class="form-control short-input" placeholder="Username" />
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>
                <div class="form-group">
                    @*<label asp-for="Password"></label>*@
                    <input asp-for="Password" class="form-control short-input" placeholder="Password" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="button-container">
                    <input type="submit" value="Login" class="btn btn-primary custom-register-btn" />
                </div>
                <br />
                
            </form>
            
        </div>
    </div>
</main>
@section scripts
{
    <script src="/jquery/jquery.min.js"></script>
    <script src="/jquery-validate/jquery.validate.min.js"></script>
    <script src="/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    
}
