@{
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
    ViewBag.Title = "Sign Up";
}
@model RegisterVM
<style>

    body {
        background-color: rgba(0, 0, 0, 0.85); 
        margin: 0;
        padding: 0; 
    }

    
    .container-center {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    
    .container-with-shadow {
        background-color: rgba(0, 0, 0, 0.4); /* Slightly darker than the background */
        color: #fff; 
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Adjust the shadow properties as needed */
        padding: 20px; /* Adjust the padding as needed */
        border-radius: 10px; /* Adjust the border radius as needed */
        width: 400px; /* Adjust the width as needed */
        /*height: 600px;*/ /* Adjust the height as needed */
        margin-bottom: 10px;
    }

    .short-input {
        width: 80%;
    }

    .form-group {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
        padding-bottom:10px;
    }

    
    .custom-register-btn.btn-primary {
        background-color: rgba(0, 0, 0, 0.85); 
        color: #fff;
        border: none;
        transition: background-color 0.3s ease-in-out; 
        /*width:60%;*/
        

    }

        
        .custom-register-btn.btn-primary:hover {
            background-color: rgba(0, 0, 0, 0.2); 
        }

    .form-control {
        background-color: rgba(0, 0, 0, 0.3); 
        color: #fff; 
        border: none; 
    }

    .header-container {
        display: flex;
        align-items: center;
        margin-left:35px;
        margin-bottom: 20px; 
    }

        .header-container h3 {
            margin: 0; 
        }

    .button-container {
        display: flex;
        justify-content: center; 
        margin-top: 20px;
        width:43%;
        
        
</style>

<main>
    <div class="container-center">
        <div class="container-with-shadow">
            <div class="header-container">
                <h3>Sign Up</h3>
            </div>
            <form asp-controller="Account" asp-action="Register" class="form">
                <div class="form-group">
                    @*<label asp-for="Username"></label>*@
                    <input asp-for="Username" class="form-control short-input" placeholder="Username" />
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>
                <div class="form-group">
                    @*<label asp-for="Email"></label>*@
                    <input asp-for="Email" class="form-control short-input" placeholder="E-Mail" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    @*<label asp-for="Password"></label>*@
                    <input asp-for="Password" class="form-control short-input" placeholder="Password" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    @*<label asp-for="PasswordRepeat"></label>*@
                    <input asp-for="PasswordRepeat" class="form-control short-input" placeholder="Repeat Password" />
                    <span asp-validation-for="PasswordRepeat" class="text-danger"></span>
                </div>
                <div class="button-container">
                    <input type="submit" value="Register" class="btn btn-primary custom-register-btn" />
                </div>
                <br />
            </form>
        </div>
    </div>
</main>



@section scripts
    {
    <script src="/jquery/jquery.min.js"></script>
    <script src="/jquery-validate/jquery.validate.min.js"></script>
    <script src="/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}

