@{
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
    ViewBag.Title = "Sign Up";
}
@model RegisterVM

<main>
    <div class="container-center">
        <div class="container-with-shadow">
            <div class="header-container">
                <h3>Sign Up</h3>
            </div>
            <form asp-controller="Account" asp-action="Register" class="form">
                <div class="form-group">
                    @*<label asp-for="Username"></label>*@
                    <input asp-for="Username" class="form-control short-input" placeholder="Username" />
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>
                <div class="form-group">
                    @*<label asp-for="Email"></label>*@
                    <input asp-for="Email" class="form-control short-input" placeholder="E-Mail" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    @*<label asp-for="Password"></label>*@
                    <input asp-for="Password" class="form-control short-input" placeholder="Password" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    @*<label asp-for="PasswordRepeat"></label>*@
                    <input asp-for="PasswordRepeat" class="form-control short-input" placeholder="Repeat Password" />
                    <span asp-validation-for="PasswordRepeat" class="text-danger"></span>
                </div>
                <div class="button-container">
                    <input type="submit" value="Register" class="btn btn-primary custom-register-btn" />
                </div>
                <br />
            </form>
        </div>
    </div>
</main>



@section scripts
    {
    <script src="/jquery/jquery.min.js"></script>
    <script src="/jquery-validate/jquery.validate.min.js"></script>
    <script src="/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}

