<!DOCTYPE html>


<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="~/Styles/Styles.css" />"




</head>
<body>
    <nav id="navbar-reset" class="navbar navbar-expand-lg ">
        <div class=" container-fluid">
            <div class="d-flex justify-content-between w-100">
                <a class="nav-link" asp-controller="Movie" asp-action="Index">
                    <img src="/Images/Logo_MM.svg" alt="Logo" class="logo-img" />
                </a>
                <span class="d-flex flex-row colored-text">
                    @if (!ViewContext.RouteData.Values["action"].ToString().Equals("Login", StringComparison.OrdinalIgnoreCase))
                    {
                        <a asp-controller="Account" asp-action="Login" class="nav-link">Login</a>
                    }
                    @*<a asp-controller="Account" asp-action="Register" class="nav-link">Signup</a>*@
                    @*<a asp-controller="Account" asp-action="Login" class="nav-link">Login</a>*@
                </span>
            </div>
        </div>
    </nav>
    <br />
    <div>
        @RenderBody()
    </div>
    <nav>
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <hr />
                        <p class="text-center">© 2020 - MovieApp. <br /> Data fetched from <a href="https://www.themoviedb.org/">TMDB</a></p>
                    </div>
                </div>
            </div>
        </footer>
    </nav>
        @RenderSection("scripts", false)
</body>
</html>
