<!DOCTYPE html>


<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <style>
        
        .navbar a {
            color: #fff; 
        }

        nav {
            background-color: rgba(0, 0, 0, 0.4); 
            color: #fff; 
        }

        body {
            background-color: rgba(0, 0, 0, 0.85);
            margin: 0;
            padding: 0;
        }


        .container-center {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }


        .container-with-shadow {
            background-color: rgba(0, 0, 0, 0.4); /* Slightly darker than the background */
            color: #fff;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Adjust the shadow properties as needed */
            padding: 20px; /* Adjust the padding as needed */
            border-radius: 10px; /* Adjust the border radius as needed */
            width: 400px; /* Adjust the width as needed */
            /*height: 600px;*/ /* Adjust the height as needed */
            margin-bottom: 10px;
        }

        .short-input {
            width: 80%;
        }

        .form-group {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 20px;
            padding-bottom: 10px;
        }


        .custom-register-btn.btn-primary {
            background-color: rgba(0, 0, 0, 0.85);
            color: #fff;
            border: none;
            transition: background-color 0.3s ease-in-out;
            /*width:60%;*/
        }


            .custom-register-btn.btn-primary:hover {
                background-color: rgba(0, 0, 0, 0.2);
            }

        .form-control {
            background-color: rgba(0, 0, 0, 0.3);
            color: #fff;
            border: none;
        }

        .header-container {
            display: flex;
            align-items: center;
            margin-left: 35px;
            margin-bottom: 20px;
        }

            .header-container h3 {
                margin: 0;
            }

        .button-container {
            display: flex;
            justify-content: center;
            margin-top: 20px;
            width: 43%;
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg ">
        <div class=" container-fluid">
            <div class="d-flex justify-content-between w-100">
                <a asp-controller="Movie" asp-action="Index">Home</a>
                <span class="d-flex flex-row">
                    <a asp-controller="Account" asp-action="Register" class="nav-link">Signup</a>
                    <a asp-controller="Account" asp-action="Login" class="nav-link">Login</a>
                </span>
            </div>
        </div>
    </nav>
    <br />
    <div>
        @RenderBody()
    </div>
    <nav>
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <hr />
                        <p class="text-center">© 2020 - MovieApp. <br /> Data fetched from <a href="https://www.themoviedb.org/">TMDB</a></p>
                    </div>
                </div>
            </div>
        </footer>
    </nav>
        @RenderSection("scripts", false)
</body>
</html>
