@model List<MovieMatchMvc.Views.Movie.IndexVM>

<h1 class="text-center">Top Movies Right now!</h1>
<div style="width:80%;" class="container p-2 mx-auto">
    <div class="row">
        @if (Model != null && Model.Count > 0)
        {
            int count = 0;
            foreach (var movie in Model)
            {
                if (count == 3)
                {
                    @:</div><div class="row">
                }
                <div class="col-md-4 ">
                    <div class="card m-2 p-2 " style="width: 18rem;">
                        <img style="height:200px; width: 200px; color: thistle;" src="@movie.ImageUrl" class="card-img-top mx-auto " alt="...">
                        <div class="card-body">
                            <h5 class="card-title text-center">@movie.Title</h5>
                            <p class="card-text">@movie.Description.Substring(0, Math.Min(movie.Description.Length, 80)) ...</p>
                            @*<a href="#" class="btn btn-primary">Go somewhere</a>*@
                        </div>
                    </div>
                </div>
                count++;
            }
        }
        else
        {
            <p>No movies found.</p>
        }
    </div>
</div>